{{#if nullCart}}
<h1>{{nullCart}}</h1>
{{else}}
<section>

  <div class="mt-5 container">
    <div class="row">
      {{#each products}}
      <div class="col-12 col-sm-12 col-lg-12 pb-4" style="">
        <div class="card" style="width:43rem;height:18rem">
          <div style="width:10rem;height:50rem">
            <img src="/product-images/{{this.products._id}}.jpg" alt="Denim Jeans" class="mr-auto pl-3 pt-3"
             style="width:10rem" >
          </div>
          <div style="width: 150px;" align="center" class="pl-5 pt-4">
            <div style="float: left;" class="pr-2">
              <button class="btn btn-info"
                onclick="changeQuantity('{{this._id}}','{{this.products._id}}','{{../user._id}}',-1)">-</button>
            </div>
            <div style="float: left; font-size: 20px;" class="pr-2">
              <span id="{{this.products._id}}">{{this.quantity}}</span>
            </div>
            <div style="float: left;">
              <button class="btn btn-info"
                onclick="changeQuantity('{{this._id}}','{{this.products._id}}','{{../user._id}}',1)">+</button>
            </div>
          </div>
          <h1 style="font-size: 20px;">{{this.Name}}</h1>
          <p class="price" style=" font-size: 22px;">₹{{this.Price}}</p>
          <p>{{this.Description}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<DIV class="CONTAINER">
  <section>
    <div class="row mt-4">
      <a href="admin/add-product" class="btn btn-success ml-auto">Add Products</a>
    </div>
    <div class="table-responsive-sm">
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td><img src="/product-images/{{this.products._id}}.jpg" alt="" style="height:4rem" /></td>
            <td>{{this.products.Name}}</td>
            <td>Rs.{{this.products.Price}}</td>

            <td>
            </td>
            <td>
              <a class="btn btn-danger" onclick="removeCartProduct('{{this.products._id}}','{{this._id}}')">Remove</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <hr>
    <div class="float-right pr-5">
      <h4 class="float-left mr-5">Total Price : Rs. <span id="total">{{total}}</span></h4>
      <br>
      <a href="/place-order" class="btn btn-success" style="width: 100%;">Place Order</a>
    </div>
  </section>
</DIV>
{{/if}}
<script>

  function removeCartProduct(productId, cartId) {
    $.ajax({
      url: '/remove-product',
      data: {
        productId: productId,
        cartId: cartId,
      },
      method: 'post',
      success: (response) => {
        if (response) {
          if (confirm("Are you sure to remove this product?")) {
            location.reload()
          }
        }
      }
    })
  }



</script>

<style>
  .column {
    float: left;
    width: 30%;
  }

  .column_2 {
    width: 50%;
    padding: 1px;
    margin: auto;
    padding-left: 5px;
  }
</style>